 body{
        background-image: url("https://www.bollywoodschingford.com/wp-content/uploads/2016/12/Bollywoods-1.jpg") ;
        background-repeat: no-repeat;
        background-attachment: fixed;
           background-position: center center; 
           background-size: cover;
      height: 100%;

  padding: 5px;
  width: 100%;
      } 


.loginbox{
    width: 400px;
    height: 500px;
   background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 150px auto;
    border-radius: 10px;
    
}
.logo{

    width: 150px;
    height:150px;
    position: relative;
    top: -70px;
    left: calc(50% - 85px);

}
h1{
    text-align: center;
    margin-top: -60px;
}

label{

    font-size: 18px;
    display: block;
    margin-left: 20px;
}

input{

    width: 90%;
    margin: 0 0 20px 20px;
}

input[type="text"],input[type="password"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: white;
    font-size: 16px;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 20%;
    bottom: 200px;
}
#a1{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    bottom: 200px;
}
input[type="submit"]:hover{
    background: green;
}

