/* Style The Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	bottom-up:-50px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-bottom: -100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.body {
	  background-image: url("https://www.bollywoodschingford.com/wp-content/uploads/2016/12/Bollywoods-1.jpg") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 100%;
	padding: 5px;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 650px;
	background: rgba(0, 0, 0, 0.5);
	padding: 28px;
	margin: 100px auto;
	border-radius: 10px;
}

.form-title {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 6px;
	color: white;
	text-shadow: 2px 2px 2px black;
	border-bottom: solid 1px white;
}

.main-user-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

.user-input-box:nth-child(2n) {
	justify-content: end;
}

.user-input-box {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 15px;
}

.user-input-box label {
	width: 95%;
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0;
}

.user-input-box input {
	height: 40px;
	width: 95%;
	border-radius: 7px;
	outline: none;
	border: 1px solid grey;
	padding: 0 10px;
}

.form-submit-btn input {
	cursor: pointer;
}

.form-submit-btn {
	margin-top: 40px;
	left:-100px
}

.form-submit-btn input {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	color: rgb(209, 209, 209);
	background: rgba(63, 114, 76, 0.7);
		
}

.form-submit-btn input:hover {
	background: rgba(56, 204, 93, 0.7);
	color: rgb(255, 255, 255);
}

@media ( max-width : 600px) {
	.container {
		min-width: 280px;
	}
	.user-input-box {
		margin-bottom: 12px;
		width: 100%;
	}
	.user-input-box:nth-child(2n) {
		justify-content: space-between;
	}
	.main-user-info {
		max-height: 380px;
		overflow: auto;
	}
	.main-user-info::-webkit-scrollbar {
		width: 0;
	}
}
.container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
	/* height: 200px; */
	
	padding-bottom: 05px;
	bottom: 150px;
	/* margin-bottom: 1 *//*  */
	
}

.container label {
	width: 95%;
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0;
}

.container input {
	height: 40px;
	width: 95%;
	border-radius: 7px;
	outline: none;
	border: 1px solid grey;
	padding: 0 10px;
}
.address {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 6px;
	color: white;
	text-shadow: 2px 2px 2px black;
	/* border-bottom: solid 1px white; */
}